#!/bin/sh

set -e

. /usr/share/debconf/confmodule

CONFFILE="/etc/tomcat8/imeji.properties"
	
        export tmpfile=`mktemp /tmp/imeji.reconfig.XXXXXXXXXX`
        chmod 644 $tmpfile
        cat $CONFFILE \
                | sed "s%^elastic.cluster.home=%elasticclusterhome=%" \
                | sed "s%^imeji.tdb.path=%imejitdbpath=%" \
                | sed "s%^imeji.storage.path=%imejistoragepath=%" \
                | sed "s%^imeji.instance.url=%imejiinstanceurl=%" \
                | sed "s%^elastic.cluster.name=%#elastic.cluster.name=%" \
                | sed "s%^elastic.cluster.local=%#elastic.cluster.local=%" \
                | sed "s%^elastic.cluster.data=%#elastic.cluster.data=%" \
                | sed "s%^elastic.analyser=%#elastic.analyser=%" \
                | sed "s%^imeji.image.list.size=%#imeji.image.list.size=%" \
                | sed "s%^imeji.image.list.size.options=%#imeji.image.list.size.options=%" \
                | sed "s%^imeji.container.list.size=%#imeji.container.list.size=%" \
                | sed "s%^imeji.container.list.size.options=%#imeji.container.list.size.options=%" \
                | sed "s%^imeji.storage.name=%#imeji.storage.name=%" \
                | sed "s%^cone.isos639_1.all=%#cone.isos639_1.all=%" \
                | sed "s%^imeji.help.url=%#imeji.help.url=%" \
                | sed "s%^xsd.resolution.thumbnail=%#xsd.resolution.thumbnail=%" \
                | sed "s%^xsd.resolution.web=%#xsd.resolution.web=%" \
                | sed "s%^imeji.jena.resource.base_uri=%#imeji.jena.resource.base_uri=%" \
                | sed "s%^imeji.imagemagick.installpath=%#imeji.imagemagick.installpath=%" \
                | sed "s%^imeji.imagemagick.enable=%#imeji.imagemagick.enable=%" \
                | sed "s%^digilib.configuration.path=%#digilib.configuration.path=%" \
                | sed "s%^imeji.digilib.enable=%#imeji.digilib.enable=%" \
                | sed "s%^imeji.internal.video.imagedetection.threshold=%#imeji.internal.video.imagedetection.threshold=%" \
                | sed "s%^imeji.internal.video.imagedetection.method=%#imeji.internal.video.imagedetection.method=%" \
                | sed "s%^imeji.internal.pdf.resolution.dpi=%#imeji.internal.pdf.resolution.dpi=%" \
                | sed "s%^imeji.internal.pdf.thumbnail.page=%#imeji.internal.pdf.thumbnail.page=%" \
                >> $tmpfile
#                >> $CONFFILE 

if [ -e "${tmpfile}" ]
then
        . ${tmpfile} || true

        if [ -n "${elasticclusterhome}" ]; then
                db_set imeji/elastic "${elasticclusterhome}"
        fi

        if [ -n "${imejitdbpath}" ]; then
                db_set imeji/db "${imejitdbpath}"
        fi

        if [ -n "${imejistoragepath}" ]; then
                db_set imeji/files "${imejistoragepath}"
        fi
	if [ -n "${imejiinstanceurl}" ]; then
                db_set imeji/url "${imejiinstanceurl}"
        fi
fi

db_input high imeji/url || true
db_input medium imeji/bundle || true
db_go
db_get imeji/bundle
if [ "$RET" = "false" ];
then
db_input low imeji/elastic || true
db_input low imeji/db || true
db_input low imeji/files || true
else
db_input low imeji/default || true
db_go
db_get imeji/default
default_answer=${RET%/}
elasticclusterhome=${default_answer}/elastic-embedded
db_set imeji/elastic "${elasticclusterhome}"
imejitdbpath=${default_answer}/tdb
db_set imeji/db "${imejitdbpath}"
imejistoragepath=${default_answer}/files
db_set imeji/files "${imejistoragepath}"
fi
db_go || true

db_stop

