#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1
# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ 


# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

override_dh_auto_clean:
			echo "Removing downloaded files..."
			rm -f imeji.*
override_dh_auto_build:
			echo "Downloading imeji.properties..."
			wget https://raw.githubusercontent.com/MPDL/imeji/master/src/main/resources/imeji.properties
			echo "Downloading imeji.war..."
			wget -O imeji.war http://rd.mpdl.mpg.de/nexus/service/local/artifact/maven/redirect?r=releases&g=org.imeji&a=imeji&v=RELEASE&e=war
			echo "Downloading md5 checksum..."
			wget -O imeji.md5sum http://rd.mpdl.mpg.de/nexus/service/local/artifact/maven/redirect?r=releases&g=org.imeji&a=imeji&v=RELEASE&e=war.md5
			echo "Cleaning imeji.properties"
			sed -i -e 's/= /=/g' imeji.properties
			sed -i -e 's/ =/=/g' imeji.properties
			sed -i "s|/data/imeji|/var/lib/imeji|g" imeji.properties
			sed -i "s|digilib.configuration.path=.*|digilib.configuration.path=/etc/tomcat8/digilib-config.xml|g" imeji.properties
			sed -i "s|imeji.digilib.enable=false|imeji.digilib.enable=true|g" imeji.properties
			sed -i "s|imeji.imagemagick.enable=false|imeji.imagemagick.enable=true|g" imeji.properties
			sed -i "s|imeji.imagemagick.installpath=/usr/local/bin|imeji.imagemagick.installpath=/usr/bin|g" imeji.properties
			sed -i "s|elastic.analyser=standard|elastic.analyser=ducet_sort|g" imeji.properties
